# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files -- This App is developed by Denzell Gil

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# sdk path: C:\Users\Asus\AppData\Local\Android\Sdk

# C:\Users\Asus\AppData\Local\Android\Sdk\platform-tools\adb.exe
